body {
    font-family: 'Arial', sans-serif;
    background-color: #191919;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.todo-container {
    max-width: 410px;
    margin: 0 auto;
}

.header {
    text-align:justify;
}

#taskInput {
    margin-top: 20px;
    padding: 10px;
    width: 70%;
    background: #2c2c2c;
    border: none;
    color: #fff;
}

button {
    padding: 13px;
    margin: 10px;
    background-color: #444;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #222;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 10px; 
}

li.completed {
    text-decoration: line-through;
}

.delete-btn {
    float: right;
    cursor: pointer;
    color: #888;
}

.delete-btn:hover {
    color: rgb(63, 9, 9);
}

.todo-wrapper {
    background-color: #222; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Subtle shadow */
}
.task-date {
    font-size: 8px; 
    color: #aaa; 
    margin-top: 5px; 
}
.task-content.completed span {
    text-decoration: line-through; 
}
